body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-body{
    padding: 10px;
}

img.img-size{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}
.glyphiconMenu{
    color: #999;
    font-size: 13px;
}

.jumbotron{
    margin: 50px;
}
.commentArea{
    margin: 10px 0px;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comment_commentCount_sp{
    margin-top: 0px;
}
.comment_operate{
    margin-bottom: 50px;
}
.comment_operate_sp{
    margin-bottom: 0px;
}
.comment_menu{
    color: #999;
    margin-top: 5px;
}
.comment_menu .icon{
    margin-right: 6px;
    font-size: 20px;
    cursor: pointer;
}
.comment_menu .icon:hover{
    color: #499ef3;
}
.comment_menu .active{
    color: #499ef3;
}

.comment_list{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.comment_body{
    padding: 3px;
}
.question_revert{
    margin-top: 0px;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}
.sub-comments .btn-success{
    margin: 10px 0px;
}
.question-tag{
    margin-right: 5px;
}
.related-question{
    padding: 5px;
    list-style: none;
}