<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">

</head>
<body>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="questionId" th:value="${questionId}">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" th:value="${title}" name="title" id="title" placeholder="问题标题。。">
                </div>
                <div class="form-group">
                    <label for="title">问题补充</label>
                    <textarea name="describe" id="describe" th:text="${describe}" class="form-control" cols="30" rows="10">
                        ${describe}
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签</label>
                    <input type="text" class="form-control" th:value="${tig}" name="tig" id="tig" placeholder="添加标签。。">
                </div>
                <span class="alert alert-danger" th:text="${error}" th:if="${error != null}"></span>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            1、问题标签：请用精简语言描叙
            2、问题补充：请用精简语言描叙
            3、选择标签：请用精简语言描叙
            4、关于积分：请用精简语言描叙
        </div>
    </div>
</div>
</body>
</html>