<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>
<body>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div col-lg-12 col-md-12 col-sm-12 col-xs-12>
                <h4 th:text="${questionDTO.title}"></h4>
                <span class="text-desc">
                作者：<span th:text="${questionDTO.User.name}"></span> |
                发布时间:<span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                阅读数 :<span th:text="${questionDTO.viewCount}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div id="question-markdown-view" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Server-side output Markdown text -->
                    <textarea style="display:none;" th:text="${questionDTO.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd.markdownToHTML("question-markdown-view", {
                        });
                    });
                </script>
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questionDTO.description}">-->
                <!--</div>-->
                <!--标签-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment_operate_sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <spen class="label label-info question-tag" th:each="tag :${questionDTO.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info" th:text="${tag}"></span>
                    </spen>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment_operate_sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment_operate">
                    <a th:href="@{'/publish/'+${questionDTO.id}}"
                       th:if="${session.user!=null && questionDTO.User.id==session.user.id}">
                        <span class="glyphicon glyphicon-pencil glyphiconMenu" aria-hidden="true">编辑</span>
                    </a>
                </div>
            </div>
            <h4>
                <span th:text="${questionDTO.commentCount}"></span>个回复
            </h4>

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment_commentCount_sp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment_list" th:each="commentDTO : ${commentDTOList}">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded img-size" th:src="${commentDTO.User.avatarUrl}"
                                 alt="...">
                        </a>
                    </div>
                    <div class="media-body comment_body">
                        <h6 class="media-heading" th:text="${commentDTO.User.name}"></h6>
                        <div th:text="${commentDTO.content}"></div>
                        <div class="comment_menu">
                            <spen class="glyphicon glyphicon-thumbs-up icon"></spen>
                            <spen class="glyphicon glyphicon-comment icon" th:data-id="${commentDTO.id}" onclick="collapseComments(this)" th:text="${commentDTO.commentCount}"></spen>
                            <span class="pull-right"
                                  th:text="${#dates.format(commentDTO.gmtCreate,'yyyy-MM-dd')}"></span>
                        </div>
                        <!--二级-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="${'comment-'+ commentDTO.id}">
                            <div col-lg-12 col-md-12 col-sm-12 col-xs-12>
                                <input type="text" class="form-control" placeholder="评论一下" th:id="${'input-'+ commentDTO.id}">
                                <button type="button" class="btn btn-success pull-right" onclick="getComment(this)" th:data-id="${commentDTO.id}">评论</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h4>提交回复</h4>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question_revert">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded img-size" th:src="${questionDTO.User.avatarUrl}"
                                 alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading" th:text="${questionDTO.User.name}"></h6>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${questionDTO.id}">
                <textarea class="form-control commentArea" id="comment_area" rows="6"></textarea>
                <button type="button" class="btn btn-success btn-comment" onclick="postComment()">回复</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded img-size" th:src="${questionDTO.User.avatarUrl}"
                                 alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading" th:text="${questionDTO.User.name}"></h6>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>关注</H4>
                <img class="img-thumbnail" src="/images/baobao.jpg" alt="" style="width: 100%">
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</H4>
                <ul class="related-question">
                    <li th:each="related:${relatedQuestions}">
                        <a th:href="@{'/question/'+${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="../js/moment.js"></script>
<script src="../js/forum.js"></script>
</body>
</html>